<%= simple_form_for ([@project, @task]) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :name, input_html: { class:  'form-control mb-2' }  %>
  <%= f.input :description, input_html: { class:  'form-control mb-2' }  %>
  <%= f.input :status, collection: Task::STATUS_OPTIONS, input_html: { class:  'form-control mb-4' }  %>
  <%= f.submit class:'btn btn-primary' %>
<% end %>
